<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Bonjour ' + ${username} + ','">
    Bonjour, Peter Static!
</p>

<p>
    Votre demande d'empreint du livre '<strong th:text="${bookName}"></strong>' à été validée.<br/>
    Vous avez jusqu'au <span th:text="${#dates.format(deadlineToRetrieve, 'dd-MM-yyyy HH''h''mm')}">0-0-0</span> pour venir le récupérer à la biliothèque.<br/>
</p>

<p>
    Cordialement, <br />
    La bibliothèque
</p>
</body>
</html>